@media (max-width: 1200px) {
    .col-6 {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .col-4 {
        width: 100%;
        padding-bottom: 15px;
    }
    .work-content {
        text-align: center;
    }
    h2{
        font-size: 36px;
    }
    .col-3{
        width: 50%;
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
    }
}
@media (max-width: 992px) {
    .col-6 {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .col-4 {
        width: 100%;
        padding-bottom: 15px;
    }
    .row{
        flex-wrap: wrap;
    }
    .work-content {
        text-align: center;
    }
    .work-title h2 {
        margin:auto;
    }
    .work-title .btn{
        margin: 90px auto;
    }
    .col-3{
        width: 50%;
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
    }
    .burger{
        display: flex;
    }
    .top-menu{
        display: none;
    }
    .top-menu.show{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #5f9ea0;
        flex-direction: column;
        z-index: 2;
    }
    .top-menu.show a{
        margin:10px 0 0;
    }
    .sign-in{
        width: 215px;
    }
    #subscribe .button{
        width: 164px;
    }
}
@media (max-width: 768px) {
    .site {
        display: flex;
        justify-content: center;
    }
    .site-block {
        width: 100%;
    }
    .col-6 {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .work-title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .work-title h2 {
        text-align: center;
    }
    .work-title .btn {
        margin: 110px auto;
    }
    .col-4 {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .work-content {
        text-align: center;
    }
    .col-3 {
        width: 50%;
        text-align: center;
    }
    .play {
        width: 80%;
    }

}
@media (max-width: 540px) {
    .col-3{
        width: 100%;
        padding-bottom: 15px;
    }
    .col-4 {
        padding-bottom: 15px;
    }
    .about-title {
        text-align: center;
    }
    h2{
        font-size: 36px;
    }
    .work-title h2 {
        font-size: 30px;
    }
    .work-title .btn {
        margin: 210px auto;
    }
    .sign-in {
        width: 155px;
    }
    #subscribe .button {
        width: 130px;
    }
}